#Application
NODE_ENV=development
PORT=5000
API_URL=http://localhost:5000

# MongoDB
MONGODB_URI=mongodb+srv://fullcc:Ksr2108@fullcc.lxmc6gc.mongodb.net/?appName=FullCC
MONGODB_TEST_URI=mongodb://localhost:27017/campus-connect-test

# JWT
JWT_SECRET=Ksr2108
JWT_EXPIRE=7d

# File Upload
MAX_FILE_SIZE=52428800
UPLOAD_DIR=./uploads

# CORS
CORS_ORIGIN=http://localhost:3000,http://localhost:5173

# Socket.IO
SOCKET_PORT=5001
